<button mat-fab id="close" (click)="dialogRef.close()"><i class="material-icons">close</i></button>
<h2>{{list?.length}} נוסעים בקשו להצטרף להסעה שלך</h2>

<section class="example-section">
    <span class="example-list-section">
        <mat-checkbox class="example-margin"
                      [checked]="allComplete"
                      [indeterminate]="someComplete()"
                      (change)="setAll($event.checked)">
            בחר / בטל את כולם
        </mat-checkbox>
    </span>
    <span class="example-list-section">
        <ul>
            <li *ngFor="let wait of list">
                <mat-checkbox [(ngModel)]="wait.completed"
                              (ngModelChange)="updateAllComplete()">
                    {{wait.name}}, {{wait.address}}
                </mat-checkbox>
            </li>
        </ul>
    </span>
</section>

<button mat-raised-button [disabled]="updateAllComplete()" (click)="confirm()">אשר הצטרפות</button>
<button mat-raised-button id="reject" [disabled]="updateAllComplete()" (click)="reject()">דחה הצטרפות</button>
