.autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
  }

  #logo
  {
    float: left;
    margin-top: -25px;
  }

  #head
  {
    margin-right: 50px;
    margin-top: 25px;
  }

 .form
{
    display: inline-block;
    text-align: right;
    display: inline-block;
    text-align: right;
    margin-right: 22.5%;
}


  .form-control {
    border-radius: 10px;
    font-size: 16px;
    height: 35px;
    border: solid 1px #ddd8d8;
    background-color: #f5f2f2;
}
.input
{
    margin-top: 4%;
}

.icons
{
    color: #ebad00;
    vertical-align: middle;
}
  /* .main
{
    width: 419px;
    height: 747px;
    border-radius: 60px;
    position: absolute;
    top: -47px;
    right: 60px;
    display: inline-block;
    z-index: 100;
    box-shadow: 0 17px 40px 0 rgb(17 43 85 / 10%);
    background-color: #ffffff;
    overflow: hidden;
}

.showRegister {
    animation: showRegister 0.2s forwards;
}

@keyframes showRegister
{
    0% {
        transform: translateX(0%);
    }
    
    100% {
        transform: translateX(-103%);
    }
} */

.mat-radio-button
{
    margin: 3%;
}