<p>{{action}}</p>
<h3 *ngIf="!data.created">הנך מבקש להחליף את כתובתך להסעה '{{localTrans.description}}' בכתובת הבאה</h3>
<div *ngIf="data.created">
  <mat-form-field>
    <input matInput [(ngModel)]="localTrans.description" placeholder="שם הסעה">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="time" [(ngModel)]="localTrans.schedules.departureTime" placeholder="שעה" [value]="date | date: 'hh:mm'">
    <!-- <input matInput [(ngModel)]="localTrans.schedules.departureTime" placeholder="שעה"> -->
  </mat-form-field>

   <!-- <mat-form-field>
    <input matInput type="date" [(ngModel)]="localTrans.schedules.date" placeholder="תאריך">
  </mat-form-field> -->
  <mat-form-field appearance="fill"> 
    <mat-label>Choose a date</mat-label>
    <input [formControl]="scheduleDate" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- <mat-label>בחרו סוג ההסעה</mat-label><br> -->
  <mat-radio-group required (change)="directionChanged($event)">
    <mat-radio-button [value]="false" [checked]="data.actionType == 'edit' && !localTrans.schedules.routes.isDispersion">איסוף</mat-radio-button><br>
    <mat-radio-button [value]="true" [checked]="data.actionType == 'edit' && localTrans.schedules.routes.isDispersion">פיזור</mat-radio-button>
  </mat-radio-group>

</div>


<!-- [types]="['address']"
[types]="['(cities)']" -->
<!-- TODO -->
<div fxFlex fxFlexAlign="center" class="autocomplete-container" [ngStyle.xs]="{'min-width.%': 100}"
  [ngStyle.sm]="{'width.%': 70}">
  <mat-google-maps-autocomplete #address
                                placeholderText=""
                                addressLabelText="כתובת" country="il"
                                [address]="localTrans.address"
                                (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                (onLocationSelected)="onLocationSelected($event)"
                                ngDefaultControl
                                >
  </mat-google-maps-autocomplete>
</div>

<mat-checkbox *ngIf="!data.created" class="checkbox" (click)="addAddressToUser=true">להוספת כתובת זאת לרשימת הכתובות שלי
</mat-checkbox><br><br>

<span *ngIf="data.actionType==='edit' && data.created">בלחיצה על {{action}} הנך מאשר שפרטי ההסעה החדשים ישלחו
  לנוסעים</span><br>
<mat-dialog-actions>
  <button mat-raised-button (click)="data.actionType==='edit'? update() : add()">{{action}}</button>
  <button mat-raised-button class="cancel" [mat-dialog-close] (click)="cancel()" cdkFocusInitial>ביטול</button>
</mat-dialog-actions>