.autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
  }

  #logo
  {
    float: left;
    margin-top: -25px;
  }

  #head
  {
    margin-right: 50px;
    margin-top: 25px;
  }

 .form
{
    text-align: right;
    margin-right: 10%;
}

.group {
    display: flex;
}

.form-control {
    border-radius: 10px;
    font-size: 16px;
    height: 25px;
    border: solid 1px #ddd8d8;
    background-color: #f5f2f2;
    margin-right: 10px;
    width: 160px;
}


.red-button{
    background-color: #fd5959;
}

.input
{
    margin-top: 4%;
}

.icons
{
    color: #fd5959;
    vertical-align: middle;
    padding-left: 10px;
}

.mat-radio-button
{
    margin: 3%;
}