<div id="all">
  <h1 id="header" class="font">תשלום נסיעה</h1><br><br>
  <p class="font">הנך מבקש לאשר את {{ local }}</p>
  <p class="font">
    באפשרותך לשלם בעצמך את ההסעה או לשלוח הודעה לנוסעים שעליהם לשלם.
  </p>
  <p class="font">
    בבחירת אפשרות התשלום על ידי הנוסעים, המערכת תחלק את התשלום לכלל הנוסעים
    ותשלח הודעת אימייל לנוסעים שעליהם לבצע תשלום על מנת להחיל את הצטרפותם להסעה.
  </p>
  <p class="font">
    נוסע שלא ישלם, יוסר מרשימת הנוסעים והמסלול יחושב מחדש בלי כתובתו.
  </p>
  <br /><br />
  <button mat-raised-button>מעבר לתשלום המלא</button>
  <button mat-raised-button id="left">תשלום על ידי הנוסעים</button>
</div>
