<p class="center">הצטרפות להסעה</p>



<form class="form" [formGroup]="joinTransport" justify-content="center" (ngSubmit)="toConfirm()">
    <mat-vertical-stepper [linear]="true" #stepper (selectionChange)="confirmStep($event)">

        <mat-step [completed]="joinTransport.get('transportationId').valid" [stepControl]="transId">
            <ng-template matStepLabel>קוד הסעה</ng-template>

            <!-- <mat-card> -->
            <mat-form-field>
                <input formControlName="transportationId" matInput placeholder="קוד הסעה">
            </mat-form-field><br>
            <mat-error>
                <span
                    *ngIf="!joinTransport.get('transportationId').valid && joinTransport.get('transportationId').touched">
                    שדה זה חובה</span>
                    <div *ngIf="joinTransport.get('transportationId').ValidateId">
                        Name cannot be Bob.
                      </div>
            </mat-error>

            <button type="button" mat-mini-fab color="white" matStepperNext>
                <i class="material-icons">keyboard_arrow_down</i>
            </button>

        </mat-step>

        <!-- <mat-step [stepControl]="transId">
            <ng-template matStepLabel>קוד הסעה</ng-template>

            <mat-form-field>
                <input formControlName="transportationId" matInput placeholder="קוד הסעה">
            </mat-form-field><br>
            <mat-error>
                <span
                    *ngIf="!joinTransport.get('transportationId').valid && joinTransport.get('transportationId').touched">
                    שדה זה חובה</span>
            </mat-error>

            <button type="button" mat-mini-fab color="white" matStepperNext>
                <i class="material-icons">keyboard_arrow_down</i>
            </button>

        </mat-step> -->

        <mat-step [stepControl]="addresses">
            <ng-template matStepLabel>כתובת</ng-template>


       <!-- כתובת -->


            <mat-div *ngIf="card1">
                <mat-card-header>
                    <mat-card-subtitle *ngIf="thisUser.address">יש לך {{thisUser.address.length}} כתובות </mat-card-subtitle><br>
                </mat-card-header>
                <mat-card-content>
                    <span>{{thisUser.address[0]}}</span><br><br>
                    כתובת ברירת מחדל
                </mat-card-content><br><br>
                <mat-card-actions>
                    <button mat-raised-button type="button" (click)="card1=false">בחירת כתובת אחרת</button>
                </mat-card-actions>
            </mat-div><br>

            <div *ngIf="!card1 && !card2">
    <!-- בחירת כתובת אחרת -->
                <mat-card-content>
                    <mat-radio-group class="radioGroup">
                        <mat-radio-button class="radioButton" *ngFor="let element of thisUser.address"
                            [value]="element" (click)="setAddress(element)">
                            {{element}}
                            <a class="unlink" (click)="default(element)">קבע כברירת מחדל</a>
                        </mat-radio-button>
                    </mat-radio-group>
                </mat-card-content><br>
                <mat-card-actions>
                    <a class="unlink" (click)="card2=true">
                        + הוסיפו כתובת חדשה
                    </a>
                </mat-card-actions>
            </div><br>
      <!-- הוספת כתובת חדשה -->
            <mat-div *ngIf="card2 && !card1">
                <mat-card-content>
                  <div fxFlex fxFlexAlign="center"
                  class="autocomplete-container"
                  [ngStyle.xs]="{'min-width.%': 100}"
                  [ngStyle.sm]="{'width.%': 70}">
               <mat-google-maps-autocomplete formControlName="address"
                                             country="il"
                                             (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                             (onLocationSelected)="onLocationSelected($event)"
                                             ngDefaultControl >
               </mat-google-maps-autocomplete>
             </div>
               <!-- <input matInput placeholder="כתובת" [(ngModel)]="newwww"> -->
             <br>
                    <mat-checkbox class="checkbox"(click)="newDefault=true">קבעו כתובת זאת כברירת מחדל</mat-checkbox><br><br>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button type="button" (click)="addAddress()" matStepperNext>אישור</button>
                    <button mat-raised-button type="button" (click)="card2=false">ביטול</button>
                </mat-card-actions>
            </mat-div><br>




            <button type="button" mat-mini-fab color="white" matStepperNext>
                <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <button type="button" mat-mini-fab color="white" matStepperPrevious>
                <i class="material-icons">keyboard_arrow_up</i>
            </button>
        </mat-step>

        <mat-step [stepControl]="confirm">
            <ng-template matStepLabel>אישור</ng-template>
            <span>בקשת להצטרף ל{{thisTransportation?.description}}</span><br>
            <span>שיוצאת מ/לכתובת {{thisTransportation?.address}}</span><br>
            <!-- <span>:בשעה {{thisTransportation.Schedules.DepartureTime}}</span> -->
            <span>הכתובת לתחנה שלך {{joinTransport.get('address').value}}</span><br>
            <button class="continue" mat-raised-button [disabled]="!joinTransport.valid || IsAccepted==0">אישור</button>
        </mat-step>

    </mat-vertical-stepper>
    <!-- </mat-card> -->

</form>
