<p  class="header">!!ההסעות שלך</p>
<div class="flexdiv">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

  <ng-container matColumnDef="transportationId">
    <th mat-header-cell *matHeaderCellDef>קוד הסעה</th>
    <td mat-cell *matCellDef="let element">{{element.transportationId}}</td>
  </ng-container>

  <ng-container matColumnDef="DestinationStreetId">
    <th mat-header-cell *matHeaderCellDef>קוד רחוב יעד</th>
    <td mat-cell *matCellDef="let element">{{element.DestinationStreetId}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <th mat-row *matRowDef="let row; columns: displayedColumns"></th>

  <!-- <ng-container matColumnDef="content">
    <td mat-cell *matCellDe="let element" [attr.colspan]="HeaderTransport.length">
      <div [@deatailExpand]="element==expandedElement? 'expanded':'colspased'" (click)="disable()">
        <div>{{element.TransportationId}}</div>
        <div>{{element.EstablishmentName}}</div>
      </div>
    </td>
  </ng-container> -->
</table>
</div>

<div class="buttons">
  <button mat-raised-button disabled=isable  (click)="delete(this.onclick)">מחק</button>
  <button mat-raised-button>הצג פרטים</button>
</div>




<router-outlet>
  



</router-outlet>