<mat-card>
    <form class="form" [formGroup]="addVehicle" (ngSubmit)="update()">
        <mat-form-field>
            <input matInput placeholder="סוג רכב">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input type="number" matInput placeholder="מספר מקומות">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input type="number" matInput placeholder="מחיר">
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit" (click)="add()">הוספה</button>
        <button mat-raised-button (click)="cancel()">ביטול</button>
    </form>
</mat-card>