
<mat-toolbar color="warn" >  
<!-- primary -->
<!-- accent -->

    <!-- <a routerLink="/">Home</a> |
    <a routerLink="/Manager">Manager</a> |
    <a routerLink="/GetHours">Get Hours</a>  -->
<!-- <app-my-form></app-my-form> -->
    <!-- <button  routerLink="/" mat-button href="/">Home</button> 
    <button routerLink="/Manager" mat-button href="/Manager">Manager</button>  
    <button routerLink="/GetHours" mat-button href="/GetHours">Get Hours</button>    -->
  

    <span class="demo-toolbar"></span>
    <span >הסעות</span>  
    


</mat-toolbar> 


<router-outlet></router-outlet>