#logo
{
  width: 10%;
  margin-top: 1.5%;
  margin-right: 90%;
  position: fixed;
}

.person
{
  align-self: flex-end;
  font-size: xx-large;
  cursor: pointer;
}

.right
{
  float: right;
  align-self: flex-end;
  margin-left: 30%;
}
.mat-toolbar {
  /* background-image: url('../assets/imag/back.png'); */
  background: #FACA44;
  color: rgba(0,0,0,.87);
  position: relative;
  z-index: 1;
}

/* .mat-toolbar::before
{
  content: "";
  background-image: url('../assets/imag/back.png');
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  background-size: cover;
  background-color: #FACA44;
  position: absolute;
} */

.mat-toolbar-single-row {
  /* height: 150px; */
}

.mat-tab-link
{
  font-weight: bolder;
  font-family: system-ui;
  font-size: 100%;
  /* color: #ffffff; */
  opacity: 1;
}
.mat-tab-link.mat-tab-link-active {
  background-color: rgb(0, 0, 0);
}
.mat-tab-nav-bar.mat-primary .mat-ink-bar
{
  background-color:#673ab7;
  display: none;
}
/* #all
{
  width: 100%;
  height: 100vh;
  background: url('favicon.ico') no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
} */

.menuIcons
{
  vertical-align: middle;
  padding-left: 10%;
}
::ng-deep .mat-menu-panel {
  min-width: 140px !important;
}

.finger
{
  color: #FF4B60;
}
.logOut
{
  color: #03E7D7;
}
.update
{
  color: #FACA44;
}