<mat-toolbar>
  <span class="demo-toolbar"></span>

  <div class="right">
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of navLinks"
                      [routerLink]="link.link"
                      routerLinkActive="active"
                      #rla="routerLinkActive"
                      [ngClass]="{'borderButton':'#rla.isActive === active'}"
                      >
        {{link.label}}
      </a>
    </nav>
  </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <i class="material-icons person" matTooltip="{{thisUser}}">person</i>
    </button>

  <!-- menu for user sign in -->
  <mat-menu #menu="matMenu" xPosition="before">
    <div *ngIf="thisUser!='הכנס'">

    <button mat-menu-item (click)="toUserMain()">
      <i class="material-icons menuIcons finger">fingerprint</i>
      <span>אזור אישי</span>
    </button>

    <button mat-menu-item (click)="toEditPassenger()">
      <i class="material-icons menuIcons update">manage_accounts</i>
      <span>עדכון פרטים</span>
    </button>

    <button mat-menu-item (click)="logInOut()">
      <i class="material-icons menuIcons logOut">
        power_settings_new</i>
      <span>יציאה</span>
    </button>

  </div>
  <button mat-menu-item (click)="logInOut()" *ngIf="thisUser==='הכנס'">
    <i class="material-icons menuIcons">login</i>
    <span>כניסה</span>
  </button>
  </mat-menu>
  <img src="../assets/imag/quick-bus-logo.gif" id="logo" (click)="route()">

</mat-toolbar>
<div id="all">

</div>

<router-outlet></router-outlet> 