/* .class
{
    text-align: center;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(100, 23, 23);
    font-weight: 700;
    margin: 0px;
}

.all
{
    width: 100%;
    height: 100vh;
    background: url('../../../assets/imag/hohjjhg.jpg') no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
} */

#head
{
  font-family: system-ui;
}

agm-map {
  height: 91.5%;
}

.example-container {
  width: 350px;
  height: 91.5%;
  position: absolute;
  opacity: 0.85;
  visibility: hidden;
}

.example-sidenav-content {
  display: flex;
  background-color: #FACA44;
  width: 5px !important;
  min-width: unset!important;
  visibility: visible;
}

.example-sidenav {
  padding: 20px;
}

.double_arrow
{
  color: white;
  transition: transform .5s;
}

.invertedArrow
{
  color: white;
  transition: transform .5s;
  transform: rotate(180deg);
}

.maps
{
  overflow: unset !important;
}

.list
{
  box-shadow: none;
  font-family: system-ui;
  background-color: white;
}

#time
{
  font-size: 108%;
  font-weight: bold;
  margin-right: 17%;
  font-family: system-ui;
}

#price
{
  font-size: 110%;
  font-weight: bold;
  margin-left: 5%;
  margin-right: 5%;
  font-family: system-ui;
}

.end-button
{
  margin: 10px;
  font-family: system-ui;
}
.place
{
  vertical-align: middle;
  
}

.toColor:nth-child(2)
{
  color: #FACA44;
}
 .toColor:nth-child(3)
{
  color: #03E7D7;
}
.toColor:nth-child(4)
{
  color: #FF4B60;
}
.toColor:nth-child(5)
{
  color: black;
}
/* לא בשימוש */
.rotate180 {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all linear 200ms;
  transition: all linear 200ms;
}

.rotate-back {
  display: inline-block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all linear 200ms;
  transition: all linear 200ms;
}
