
<!-- <div class="panel"> -->
  
  <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true" (opened)="status=true" (closed)="status=false">
    <h2 id="head">{{description}} - {{isDispersion.str}}</h2>
      <div *ngFor="let d of dir; let i = index">
        <h3>רכב מספר {{i+1}}</h3>
        <!-- <span *ngIf="isDispersion==false">שעת יציאה: {{(JSON.parse(localStorage.getItem("transToShow")).schedules.DepartureTime)- time[i]}}</span> -->
        <div *ngFor="let v of d.waypoints; let j = index">
          <i class="material-icons place">place</i>
          <button mat-raised-button *ngIf="j == 0 && !isDispersion.bool" class="list"
            (click)="onLocationSelected(v.location)">{{v.location}} - נהג</button>
          <button mat-raised-button *ngIf="j != 0 || isDispersion.bool" class="list"
            (click)="onLocationSelected(v.location)">{{v.location}}</button>
        </div>
        <span id="time">משך זמן המסלול: {{times[i].duration}} דקות</span><br><br>
      </div>
      <br>
      <span id="price">מחיר כולל להסעה: {{price}} ש"ח</span><br><br>
        <img *ngIf="load === true" src="../../../assets/imag/טוען.gif" width="100%">
      <button mat-raised-button matTooltip="אישור ומעבר לתשלום" class="end-button" (click)="OK()">אישור ההסעה</button>
      <button mat-raised-button matTooltip="הורדת תחנות סמוכות לקיצור זמן הנסיעה והפחתת עלויות" class="end-button"
        (click)="stationUnion()" [disabled]="isunion">איחוד תחנות</button>
      <br><br>
  </mat-drawer>

  <!-- <div class="example-sidenav-content"> -->
    <button type="button" mat-button class="example-sidenav-content" (click)="drawer.toggle()">
      <i class="material-icons" style="margin-right: -12px" [ngClass]="{invertedArrow: status==false, double_arrow: status==true}">double_arrow</i>
    </button>
  <!-- </div> -->
</mat-drawer-container>
<!-- </div> -->
<agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude">
  <agm-direction *ngFor="let data of dir"
    [editable]="true"
    [origin]="data.origin"
    [destination]="data.destination"
    [renderOptions]="data.renderOptions"
    [waypoints]="data.waypoints"
    [markerOptions]="data.markerOpts"
    [optimizeWaypoints]="data.optimizeWaypoints">
  </agm-direction>
</agm-map>