<!-- [ErrorStateMatcher]="matcher" -->

<!-- <form class="upDate-form" [formGroup]="myForm" (ngSubmit)="update()"> -->
<!-- <form [formGroup]="myForm" (ngSubmit)="update()"> -->

















<div id="wrapper">
  <div _ngcontent-aih-c0 class="ng-tnsc0-0 right" id="stepper">
    <mat-vertical-stepper _ngcontent-aih-c0="" class="mat-stepper-vertical ng-tns-c2-1" [linear]=false #stepper aria-orientation="vertical"
      labelposition="bottom" role="tablist">
      <mat-step [stepControl]="nameFormGroup">
        <form [formGroup]="nameFormGroup">
          <ng-template matStepLabel>שם קבוצה</ng-template>
          <mat-form-field>
            <!-- <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required> -->
            <input matInput placeholder="שם" formControlName="firstName" required>
          </mat-form-field>

          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon> -->
          <br>
          <button mat-mini-fab color="white" matStepperNext>
            <i class="material-icons">keyboard_arrow_down</i>
          </button>
          <mat-error>
            <span *ngIf="nameFormGroup.invalid">{{getErrorName()}}</span>
          </mat-error>
        </form>
      </mat-step>
      <mat-step [stepControl]="addressFormGroup">
        <form [formGroup]="addressFormGroup">
          <ng-template matStepLabel>כתובת</ng-template>
          <mat-form-field>
            <input matInput placeholder="עיר" formControlName="city" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="שכונה" formControlName="neighborhood" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="רחוב" formControlName="street" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="number" matInput placeholder="בנין" formControlName="building" required>
          </mat-form-field>
          <mat-error>
            <!-- <span *ngIf="addressFormGroup.building.invalid">{{getErrorBuilding()}}</span> -->
          </mat-error>
          <br>
          <div class="buttonStep">
            <button mat-mini-fab color="white" matStepperPrevious>
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
            <button mat-mini-fab color="white" matStepperNext>
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="contactFormGroup">
        <form [formGroup]="contactFormGroup">
          <ng-template matStepLabel>פרטי התקשרות</ng-template>
          <br>
          <mat-form-field>
            <input type="tel" matInput placeholder="טלפון" formControlName="telephon" style="text-align: left;" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="email" matInput placeholder="מייל" formControlName="email" style="text-align: left;" required>
          </mat-form-field>
          <br>
          <div class="buttonStep">
            <button mat-mini-fab color="white" matStepperPrevious>
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
            <button mat-mini-fab color="white" matStepperNext>
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="transportationTimes">
        <ng-template matStepLabel>זמני הסעה</ng-template>
        <div class="mat-vertical-content ng-star-inserted">
          <form [formGroup]="timesFormGroup">

            <mat-form-field>
              <input type="time" matInput placeholder="שעת התחלה" formControlName="startHour" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="time" matInput placeholder="שעת סיום" formControlName="endHour" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="תדירות" formControlName="frequency" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="יום בשבוע/בחודש" formControlName="day">
            </mat-form-field>
            <br>
            <div class="buttonStep">
              <button mat-mini-fab color="white" matStepperPrevious>
                <mat-icon>keyboard_arrow_up</mat-icon>
                <!-- <i class="material-icons">keyboard_arrow_up</i> -->
              </button>
            </div>
            <br>
          </form>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div class="buttons">
    <button mat-raised-button type="submit" [disabled]="!(nameFormGroup.valid && addressFormGroup.valid && contactFormGroup.valid && timesFormGroup.valid)">עדכן</button>
    <button mat-raised-button type="reset" (click)="cancel()">ביטול</button>
  </div>
</div>









<!-- </form> -->