<!-- [ErrorStateMatcher]="matcher" -->

<!-- <form class="upDate-form" [formGroup]="myForm" (ngSubmit)="update()"> -->
<!-- <form [formGroup]="myForm" (ngSubmit)="update()"> -->
















<mat-card id="wrapper" (ngSubmit)="update()">
  <div _ngcontent-aih-c0 class="ng-tnsc0-0 right" id="stepper">
    <mat-horizontal-stepper _ngcontent-aih-c0="" class="mat-stepper-horizontal ng-tns-c2-1" [linear]=false #stepper aria-orientation="horizontal"
      labelposition="bottom" role="tablist">
      <mat-step [stepControl]="personalDeatailsFormGroup">
        <form [formGroup]="personalDeatailsFormGroup">
          <ng-template matStepLabel>פרטים אישיים</ng-template>
          <mat-form-field>
            <!-- <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required> -->
            <input matInput placeholder="שם" formControlName="firstName" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="כתובת" formControlName="address" required>
          </mat-form-field>

          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon> -->
          <br>
          <button mat-mini-fab color="white" matStepperNext>
            <i class="material-icons">keyboard_arrow_down</i>
          </button>
          <mat-error>
            <span *ngIf="personalDeatailsFormGroup.invalid">{{getErrorName()}}</span>
          </mat-error>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="contactFormGroup">
        <form [formGroup]="contactFormGroup">
          <ng-template matStepLabel>פרטי התקשרות</ng-template>
          <br>
          <mat-form-field>
            <input type="tel" matInput placeholder="טלפון" formControlName="telephon" style="text-align: left;" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="email" matInput placeholder="מייל" formControlName="email" style="text-align: left;" required>
          </mat-form-field>
          <br>
          <div class="buttonStep">
            <button mat-mini-fab color="white" matStepperPrevious>
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
            <button mat-mini-fab color="white" matStepperNext>
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="transportationTimes">
        <ng-template matStepLabel>זמני הסעה</ng-template>
        <div class="mat-horizontal-content ng-star-inserted">
          <form [formGroup]="timesFormGroup">

            <mat-form-field>
              <input type="time" matInput placeholder="שעת התחלה" formControlName="startHour" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="time" matInput placeholder="שעת סיום" formControlName="endHour" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="תדירות" formControlName="frequency" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="יום בשבוע/בחודש" formControlName="day">
            </mat-form-field>
            <br>
            <div class="buttonStep">
              <button mat-mini-fab color="white" matStepperPrevious>
                <mat-icon>keyboard_arrow_up</mat-icon>
                <!-- <i class="material-icons">keyboard_arrow_up</i> -->
              </button>
            </div>
            <br>
          </form>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="buttons">
    <button mat-raised-button type="submit" [disabled]="!(personalDeatailsFormGroup.valid && contactFormGroup.valid && timesFormGroup.valid)" (click)="update()">עדכן</button>
    <button mat-raised-button type="reset" (click)="cancel()">ביטול</button>
  </div>
</mat-card>








<!-- </form> -->