
<p class="header">משפחת{{fam.UserName}}</p>

<div class="flexdiv">
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   <!--- Note that these columns can be defined in any order.
         The actual rendered columns are set as a property on the row definition" -->
 
   <ng-container matColumnDef="select">
   <th mat-header-cell *matHeaderCellDef>
     <mat-checkbox (change)="$event ? masterToggle() : null"
                   [checked]="selection.hasValue() && isAllSelected()"
                   [indeterminate]="selection.hasValue() && !isAllSelected()"
                   [aria-label]="checkboxLabel()">
     </mat-checkbox>
   </th>
   <td mat-cell *matCellDef="let row">
     <mat-checkbox (click)="$event.stopPropagation()"
                   (change)="$event ? selection.toggle(row) : null"
                   [checked]="selection.isSelected(row)"
                   [aria-label]="checkboxLabel(row)">
     </mat-checkbox>
   </td>
 </ng-container>

   <ng-container matColumnDef="vehicleId">
     <th mat-header-cell *matHeaderCellDef> קוד רכב </th>
     <td mat-cell *matCellDef="let element"> {{element.vehicleId}} </td>
     <button mat-mini-fab color="white" (click)="delete()">
       <i class="material-icons">delete</i>
     </button>
   </ng-container>
 

   <ng-container matColumnDef="vehicleType">
     <th mat-header-cell *matHeaderCellDef> סוג רכב </th>
     <td mat-cell *matCellDef="let element">{{element.vehicleType}} </td>
   </ng-container>
 

   <ng-container matColumnDef="amountPlaces">
     <th mat-header-cell *matHeaderCellDef> מספר מקומות </th>
     <td mat-cell *matCellDef="let element"> {{element.amountPlaces}}</td>
   </ng-container>
 

   <ng-container matColumnDef="price">
     <th mat-header-cell *matHeaderCellDef> מחיר </th>
     <td mat-cell *matCellDef="let element"> {{element.price}}</td>
   </ng-container>
 
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
</div>

<div class="buttons">
 <!-- <button mat-raised-button disabled="isSelected()" (click)="delete()">מחק</button> -->
 <button mat-raised-button disabled="isSelected()">עדכן</button>
 <button mat-raised-button (click)="add()">הוסף</button>
</div>