<mat-card>

    <mat-card-title>
        ברוכים הבאים מלא את פרטיך
    </mat-card-title>

    <!-- Actual content starts from here -->
    <mat-card-content>


        <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit()">
            <mat-vertical-stepper _ngcontent-aih-c0="" class="mat-stepper-vertical ng-tns-c2-1" [linear]=false #stepper
                aria-orientation="vertical" labelposition="bottom" role="tablist">
                <table>
                    <mat-step>
                        <ng-template matStepLabel>שם וסיסמא</ng-template>
                        <tr>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input formControlName="EstablishmentName" matInput placeholder="שם מוסד">
                                </mat-form-field>
                                <mat-error>
                                    <span
                                        *ngIf="!regiForm.get('EstablishmentName').valid && regiForm.get('EstablishmentName').touched">
                                        שדה זה חובה</span>
                                </mat-error>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input formControlName="password" matInput placeholder="סיסמא">
                                </mat-form-field>
                                <mat-error>
                                    <!-- <span *ngIf="!regiForm.get('password').valid && regiForm.get('password').touched">
                                        שדה זה חובה</span> -->
                                    <span *ngIf="password.invalid">{{ChekPassword()}}</span>
                                </mat-error>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input formControlName="Chekpassword" matInput placeholder="אימות סיסמא">
                                </mat-form-field>
                                <mat-error>
                                    <!-- <span *ngIf="!regiForm.get('Chekpassword').valid && regiForm.get('Chekpassword').touched">
                                            שדה זה חובה</span> -->
                                    <span *ngIf="Chekpassword.invalid">{{getErrorPassword()}}</span>
                                </mat-error>
                            </td>
                        </tr>
                        <button type="button" mat-mini-fab color="white" matStepperNext>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </button>

                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>פרטי מוסד</ng-template>
                        <tr>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input formControlName="address" matInput placeholder="כתובת">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!regiForm.get('address').valid && regiForm.get('address').touched"> שדה
                                        זה חובה</span>
                                </mat-error>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input type="email" formControlName="Email" matInput placeholder="מייל">
                                </mat-form-field>
                                <mat-error>
                                    <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched"> שדה זה
                                        חובה</span>
                                </mat-error>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field class="demo-full-width">
                                    <input formControlName="ContactCell" matInput placeholder="טלפון איש קשר">
                                </mat-form-field>
                                <mat-error>
                                    <span
                                        *ngIf="!regiForm.get('ContactCell').valid && regiForm.get('ContactCell').touched">
                                        שדה זה חובה</span>
                                </mat-error>
                            </td>
                        </tr>

                        <button type="button" mat-mini-fab color="white" matStepperPrevious>
                            <i class="material-icons">keyboard_arrow_up</i>
                        </button>


                    </mat-step>

                    <td colspan="2" class="content-center">
                        <button mat-raised-button color="accent" (click)="ChekPassword()"
                            [disabled]="!regiForm.valid || IsAccepted==0">המשך</button>
                    </td>

                </table>
            </mat-vertical-stepper>
        </form>
    </mat-card-content>
</mat-card>